.app-root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 24px;
}

.section-horizontal {
  display: flex;
  gap: 20px;
}

.section-vertical {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.name {
  font-weight: bolder;
  margin-right: 20px;
}
