<div class="courses-list">
  <app-search (search)="searchCourses($event)"></app-search>
  <app-course-card *ngFor="let course of courses" [editable]="isEditable" [card]="course">
  </app-course-card>
  <app-info
    *ngIf="courses.length === 0 && !isLoading"
    [text]="isEditable ? 'Please use \'Add New Course\' button to add your first course' : ''"
  >
    <app-button
      *ngIf="isEditable"
      (click)="addCourseNavigate()"
      [buttonText]="'Add New Course'"
    ></app-button>
  </app-info>
</div>
